body {
    margin: 10px;
    font-family: 'Abel';
    text-align: center;
    width: 580px;
  }
  
  .container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: [one-eighty] 200px [one-eighty] 200px [one-eighty] 200px;
    grid-template-rows: [head-row] auto [content-row] auto [content-row] auto [content-row] auto [footer-row] auto;
  }
  
  .item {
    color: white;
    padding: 1.5em 0;
    font-size: 2em;
  }
  
  .header {
    background: #0d9;
  }
  
  .sidebar {
    background: #d90;
  }
  
  .advert {
    background: #09d;
  }
  .contact {
    background: #458;
  }
  
  .content {
    background: #9d0;
  }
  
  .footer {
    background: #90d;
  }
  
  .header {
    grid-column: one-eighty 1 / one-eighty 4;
    grid-row: head-row / content-row 1;
  }
  
  .sidebar {
    grid-column: one-eighty 1 / one-eighty 2;
    grid-row: content-row 1 / content-row 2;
  }
  
  .advert {
    grid-column: one-eighty 1 / one-eighty 2;
    grid-row: content-row 2 / content-row 3;
  }
  
  .contact {
    grid-column: one-eighty 1 / one-eighty 2;
    grid-row: content-row 3 / content-row 4;
  }
  
  .content {
    grid-column: one-eighty 2 / one-eighty 4;
    grid-row: content-row 1 / span content-row 3;
  }
  
  .footer {
    grid-column: one-eighty 1 / span one-eighty 3;
    grid-row: content-row 5 / footer-row 2;
  }